
body {
    background-color: rgb(0, 0, 0);
    color: hotpink;
}
fieldset {
    text-align: center;
    border-radius: 1em;
    border-color: rgb(103, 98, 98);
    display: inline-block;
    
}

#createaccount-button , #submit-button {
    border-radius: 1.5em;
    background-color: rgb(227,222,209);
    

}

#firstname, #lastname, #username, #password {
    border-radius: 1em;
    border-width: 0.1em;
    text-align: center;
}*/

h1 {
    color: rgb(56, 54, 48);
    text-align: center;
}

 .container {
    box-sizing: border-box;
    display: block;
    background-color: black(149, 194, 149);
    border: 10px solid yellow;
    padding: 20em;
    height: 80vh;
    width: 100%;
    margin-bottom: 4em;
    margin-top: -3em;
    margin-left: 23em;
    justify-content: center;
    position: fixed;
    
} 

/*.grid {
    width: 1100px;
    height: 600px;
    border:10px solid rgb(24, 23, 23);
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    margin-left: 24em; 

}*/

.restartGame {
    background-color: rgb(24, 23, 23);
    color: rgb(206, 206, 27);
    display: flex;
    width: 80px;
    height: 50px;
    align-items: center;
    justify-content: center;

}

img {
    box-sizing: border-box;
    display: block;
    object-fit: contain;
    margin: 0;
    border: 0;
    padding: 3px;
  }

