body {
    background-color: rgb(18, 17, 17);
    color: hotpink;
}

.resultsBody{
    background-color: rgb(247, 241, 241);
    color: rgb(26, 25, 25);
    font-size: large;
}

fieldset {
    text-align: center;
    display: inline-block;
    border-color: transparent;  
}

.resultsForm {
    background-color: rgb(234, 219, 232);
    padding: 1em;
    border-radius: 2em;
   
}


#createaccount-button , #restartGame , #newGame {
    border-radius: 1.5em;
    background-color: whitesmoke;
    color: black;
    margin-top: 1em;

}

#restartGame , #newGame {
    position:relative;
    left: 30px;


}

#createaccount-button {
    background-color: whitesmoke;
    position: absolute;
    right: 30px;
    top: 30px;
}

/* .flash {
    display: inline-block;
   
} */


h1 {
    color: rgb(0, 0, 0);
    text-align: center;
   
}


 /* .container {
    box-sizing: border-box;
    display: block;
    background-color: black(149, 194, 149);
    border: 10px solid yellow;
    padding: 20em;
    height: 100%;
    width: 100%;
    margin-bottom: 4em;
    margin-top: -3em;
    justify-content: center;
    position: fixed;
    
}  */

/* .grid {
    min-width: 100vh;
    min-height: 100vw;
    max-width: 100%;
    max-height: 100%;
    border:10px solid rgb(24, 23, 23);
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
} */

.restartGame {
    background-color: rgb(24, 23, 23);
    color: rgb(206, 206, 27);
    display: flex;
    width: 80px;
    height: 50px;
    align-items: center;
    justify-content: center;

}

img {
    box-sizing: border-box;
    display: block;
    object-fit: contain;
    margin: 0;
    border: 0;
    padding: 3px;
  }

